<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Uploader</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css">
    <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.10/dist/htmx.min.js" integrity="sha384-H5SrcfygHmAuTDZphMHqBJLc3FhssKjG7w/CeCpFReSfwBWDTKpkzPP8c+cLsK+V" crossorigin="anonymous"></script>
</head>
<body>
    <section class="section">
        <h1 class="title">Movie Uploader</h1>

        <form action="/" method="post" enctype="multipart/form-data">
            <div class="field">
                <div class="file has-name" id="file-upload">
                    <label class="file-label">
                        <input class="file-input" type="file" name="file" accept="video/*" required>
                        <span class="file-cta">
                            <span class="file-label">Choose a file…</span>
                        </span>
                        <span class="file-name">No file selected</span>
                    </label>
                </div>
            </div>
            <div class="field">
                <button type="submit" class="button is-primary" disabled>Upload</button>
            </div>
        </form>

        {% if error %}
        <div class="notification is-danger mt-5">
            {{ error }}
        </div>
        {% endif %}
    </section>

    <script>
        const fileInput = document.querySelector("#file-upload .file-input");
        const fileName = document.querySelector("#file-upload .file-name");
        const submitButton = document.querySelector("button[type=submit]");
        fileInput.addEventListener("change", function () {
            if (fileInput.files.length > 0) {
                fileName.textContent = fileInput.files[0].name;
                submitButton.disabled = false;
            } else {
                fileName.textContent = "No file selected";
                submitButton.disabled = true;
            }
        });
    </script>
</body>
</html>
